.main-container {
  margin-top: 10px;
}
.container{
  display: flex;
  /* margin-left: 10px; */
  justify-content: space-between;
  background-color:lightgray;
  width: 300px;
}
.file{
  display: flex;
  /* margin-left: 10px; */
  justify-content: space-between;
  background-color: lightblue;
  width: 300px;
  margin-top: 10px;
}
.container > span {
  margin: 0 5;
}



